section.speakers(id="speakers")
    h2 Speakers
    .content
        .speaker-slider
            ul.bxslider
                li
                    img(src="assets/images/pic-1.png")
                li
                    img(src="assets/images/pic-1.png")
                li
                    img(src="assets/images/pic-1.png")
