section.speakers(id="speakers")
    .content.para
        h2 Speakers
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/anand.jpg")
            .details
                h3 Anand Bagmar
                p.role QA Principle Consultant
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/prasad_kalgutkar.png")
            .details
                h3 Prasad Kalgutkar
                p.role QA Sr. Consultant
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/sreedhar.jpg")
            .details
                h3 Sreedhar Joshi
                p.role Dev Lead Consultant
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/nagesh.jpg")
            .details
                h3 Nagesh
                p.role Dev Consultant
