section.speakers(id="speakers")
    .content.para
        h2 Speakers
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/anand.jpg")
            .details
                h3 Anand Bagmar
                p Anand Bagmar, Test Practice Lead at ThoughtWorks, is a hands-on and result-oriented Software Quality Evangelist with 20+ years in the IT field of which 16+ years in the software test field.