section.speakers(id="speakers")
    .content.para
        h2 Speakers
        .speaker-block
            p.speaker-img
                img(src="dist/assets/images/anand.jpg")
            .details
                h3 Anand Bagmar
                p Anand Bagmar, Test Practice Lead at ThoughtWorks, is a hands-on and result-oriented Software Quality Evangelist with 20+ years in the IT field of which 16+ years in the software test field.
        .speaker-block
            p.speaker-img
                img(src="dist/assets/images/Pranathi.jpg")
            .details
                h3 Pranathi Birudugadda
                p Pranathi is a young woman techie at ThoughtWorks who is passionate about the latest trends in testing. She is hands-on with test automation, UI testing and is always open for trying new tools.
        .speaker-block
            p.speaker-img
                img(src="dist/assets/images/varuna.jpg")
            .details
                h3 Varuna Srivastava
                p Varuna is a QA with 6 years of experience. Passionate to ship the quality code to Production in most leaner manner  using best Agile Practices. She loves enabling Agile process in consulting testing.