section.speakers(id="speakers")
    .content.para
        h2 Speakers
        .speaker-block
            p.speaker-img
                img(src="https://www.gravatar.com/avatar/57733f1aef49b1201107b7fcf8c2ec53")
            .details
                h3 Abdulsattar
                p A dynamic speaker who will enthrall you with his extensive knowledge radiating around him.
        .speaker-block
            p.speaker-img
                img(src="https://www.gravatar.com/avatar/57733f1aef49b1201107b7fcf8c2ec53")
            .details
                h3 Abdulsattar
                p A dynamic speaker who will enthrall you with his extensive knowledge radiating around him.
        .speaker-block
            p.speaker-img
                img(src="https://www.gravatar.com/avatar/57733f1aef49b1201107b7fcf8c2ec53")
            .details
                h3 Abdulsattar
                p A dynamic speaker who will enthrall you with his extensive knowledge radiating around him.
