section.speakers(id="speakers")
    .content
        h2 Speakers
        //ul
        //    li
        //        .speaker-img
        //    li
        //        .speaker-img
        //    li
        //        .speaker-img
        .speaker-slider
            ul.bxslider
                li
                    img(src="assets/images/pic-1.png")
                li
                    img(src="assets/images/pic-1.png")
                li
                    img(src="assets/images/pic-1.png")
