section.speakers(id="speakers")
    h2 Speakers
    .content.para
        .speaker-slider
            ul.bxslider
                li
                    img(src="dist/assets/images/pic-1.png" title="<h3>SPEAKER-1</h3>  <br/>" +
                    "Lorem ipsum dolor sit amet, consectetur " +
                    "adipisicing elit, sed do eiusmo" +
                    "d tempor incididunt ut labore e" +
                    "t dolore magna aliqua. Ut enim ad mi" +
                    "nim veniam, quis nostrud exercita" +
                    "tion ullamco laboris nisi ut aliquip e" +
                    "x ea commodo consequat. Duis aute irure " +
                    "dolor in reprehenderit in voluptate velit esse cillum")
                li
                    img(src="dist/assets/images/pic-2.png" title="<h3>SPEAKER-1</h3>  <br/>" +
                    "Lorem ipsum dolor sit amet, consectetur " +
                    "adipisicing elit, sed do eiusmo" +
                    "d tempor incididunt ut labore e" +
                    "t dolore magna aliqua. Ut enim ad mi" +
                    "nim veniam, quis nostrud exercita" +
                    "tion ullamco laboris nisi ut aliquip e" +
                    "x ea commodo consequat. Duis aute irure " +
                    "dolor in reprehenderit in voluptate velit esse cillum")
                li
                    img(src="dist/assets/images/pic-1.png" title="<h3>SPEAKER-1</h3>  <br/>" +
                    "Lorem ipsum dolor sit amet, consectetur " +
                    "adipisicing elit, sed do eiusmo" +
                    "d tempor incididunt ut labore e" +
                    "t dolore magna aliqua. Ut enim ad mi" +
                    "nim veniam, quis nostrud exercita" +
                    "tion ullamco laboris nisi ut aliquip e" +
                    "x ea commodo consequat. Duis aute irure " +
                    "dolor in reprehenderit in voluptate velit esse cillum")
