section#agenda.agenda
  .content.para
    h2 <strong>Topic</strong>

    //h2 <strong>Topics</strong>
    p 
      | <strong> WebdriverIO - bootstrap your test suite in minutes </i> </strong>  
      <br>
      | <strong><i>Speaker - Shweta Varma</i></strong>
      <br><br>
      | What comes to your mind when we talk about end to end automation tests? It opens up a pandora box of tools/frameworks and best practices. How would you choose from the plethora of options you have?
      <br><br>
      | In this session, Shweta will explain us how WebdriverIO can help you set up a robust test infrastructure and makes it easy to setup your first test in as little as 5 minutes. Moreover it supports devtools protocol, cross browser testing out of box. So lets understand
      <br><br>
      |* How WebdriverIO works under the hood
      <br>
      |* How to define element locators
      <br>
      |* wdio test runner and test reporting
      <br>
      |* Best practices while writing your test scripts

//-     <br>

//-     //Specify the event date here in YYYY-MM-DD format
//-     .shotsDate#shotsDate
//-     .tracks.tracks-1
//-       .track
//-         .session.talk
//-           p.time 06:25 - 06:30 p.m.
//-           .details
//-             h4.topic Welcome Note
//-         .session.talk
//-           p.time 06:30 - 07:30 p.m.
//-           .details
//-             h4.topic Run your android espresso tests on TestLab
//-             span.speaker  B Krishna Chaitanya 
//-         .session.break
//-           .border
//-             p.time 07:20 - 07:30 p.m.
//-             .details
//-               h4.topic Break & Networking
//-         .session.talk
//-           p.time 07:30 - 08:30 p.m.
//-           .details
//-             h4.topic Run your tests on docker containers
//-             span.speaker Santosh Kumar Bhiravabhatla
