section#agenda.agenda
  .content.para
    h2 Agenda
    .tracks.tracks-1
      .track
        .session.talk
          p.time 9:00 - 09:30 a.m.
          .details
            h4.topic Registration
        .session.talk
          p.time 09:45 - 10:15 a.m.
          .details
            h4.topic Keynote
            span.speaker
        .session.talk
          p.time 10:15 - 11:00 a.m.
          .details
            h4.topic Element Classification in Appium using ML
            span.speaker Raviteja Medavaram
            a.link(href="https://docs.google.com/presentation/d/1onN_ZHlNLTAVrDg_tRhnJRPCwiQiMVhDEQQfKwqMFME/edit?usp=sharing" target="_blank")
                         img(src="./dist/assets/images/slideshare.svg")
                         | Slides
        .session.break
          .border
            p.time 11:00 - 11:15 a.m.
            .details
              h4.topic Break
        .session.talk
          p.time 11:15 - 12:00 p.m.
          .details
            h4.topic Test Strategy for Conversational AI
            span.speaker Shama Ugale
            a.link(href="https://drive.google.com/file/d/10a_BpZN97LPnd4az64bC8mVi2eaTPNJp/view?usp=sharing" target="_blank")
                                     img(src="./dist/assets/images/slideshare.svg")
                                     | Slides
        .session.talk
          p.time 12:00 - 12:45 p.m.
          .details
            h4.topic Changing face of Quality Assurance in the new technology world
            span.speaker Devangana Khokhar
            a.link(href="https://docs.google.com/presentation/d/1MAsfeSVPLXjVGlqZgXwcdvD5NzxnT8zOeH-_GwjFWG0/edit?usp=sharing" target="_blank")
                                     img(src="./dist/assets/images/slideshare.svg")
                                     | Slides
        .session.talk
          p.time 12:45 - 01:05 p.m.
          .details
            h4.topic Testing Voice Assistants
            span.speaker Prasad Mudedla
            a.link(href="https://docs.google.com/presentation/d/1KavqcpUhYOaQCES2xBsBFT3QFmL-LF7gud0yfpNvjoY/edit?usp=sharing" target="_blank")
                                     img(src="./dist/assets/images/slideshare.svg")
                                     | Slides
        .session.break
          .border
            p.time 01:05 - 02:00 p.m.
            .details
              h4.topic Lunch
        .session.talk
          p.time 02:00 - 02:20 p.m.
          .details
            h4.topic Fishbowl Session
        .session.talk
          p.time 02:30 - 04:30 p.m.
          .details
            p.track-title Workshop (parallel)
            h4.topic Visual Regression using Applitools Eyes
            span.speaker Nalinikanth Meesala / Shama Ugale
            a.link(href="https://drive.google.com/file/d/1su5eOi9K9TJIGDH90xBvHtvbJsSiNnkq/view?usp=sharing" target="_blank")
                                                 img(src="./dist/assets/images/slideshare.svg")
                                                 | Slides
            a.link(href="https://github.com/nalinikanth/AppliToolsVodQADemo" target="_blank")
                          img(src="./dist/assets/images/github.svg")
                          | Github
            br
            br
            p.track-title Workshop (parallel)
            h4.topic Scaling of Tests Using Serverless
            span.speaker Shridhar Kalagi / Someswar Reddy kancharla
            a.link(href="https://docs.google.com/presentation/d/1dRpIGyYXJm44iUcvklVOrlfiheylHrslMSJVVgmBFp4/edit?usp=sharing" target="_blank")
                                                             img(src="./dist/assets/images/slideshare.svg")
                                                             | Slides
            br
            br
            p.track-title Workshop (parallel)
            h4.topic E2E testing with Cypress
            span.speaker Biswajit Pattanayak
            a.link(href="https://docs.google.com/presentation/d/1Hdxw4WwUbWdI6Pg75C-itU8_T76E142j0UjiluHyz2k/edit?usp=sharing" target="_blank")
                                                             img(src="./dist/assets/images/slideshare.svg")
                                                             | Slides
            a.link(href="https://github.com/biswajit-713/cypress-spree" target="_blank")
                                      img(src="./dist/assets/images/github.svg")
                                      | Github
        .session.talk
          p.time 04:30 - 05:00 p.m.
          .details
            h4.topic Closing notes and Networking
