section#agenda.agenda
  .content.para
    h2 Agenda
    div(class="tracks tracks-1")
      .track
        div(class="session talk")
          p.time 9:30 - 10:00 a.m.
          .details
            h4.topic Registration
        div(class="session talk")
          p.time 10:00 - 10:15 a.m.
          .details
            h4.topic Keynote
        div(class="session talk")
          p.time 10:15 - 10:45 a.m.
          .details
            h4.topic Introduction to Security Testing
            span.speaker Shilpa Badelika
        div(class="session talk")
          p.time 10:45 - 11:45 a.m.
          .details
            h4.topic Top 10 OWASP Vulnerabilities
            span.speaker Shirish Padalkar
        div(class="session break")
          .border
            p.time 11:45 - 12:00 p.m.
            .details
              h4.topic Break
        div(class="session talk")
          p.time 12:00 - 01:00 p.m.
          .details
            h4.topic Hands-On Workshop with ZAP
            span.speaker Nagesh, Nalinikanth, Chaitanya
        div(class="session talk")
          p.time 1:00 - 01:30 p.m.
          .details
            h4.topic Closing notes and Networking
