section#agenda.agenda
  .content.para
    h2 Agenda
    .tracks.tracks-1
      .track
        .session.talk
          p.time 9:00 - 09:30 a.m.
          .details
            h4.topic Registration
        .session.talk
          p.time 09:45 - 10:15 a.m.
          .details
            h4.topic Keynote
            span.speaker Vanya Seth
        .session.talk
          p.time 10:15 - 11:00 a.m.
          .details
            h4.topic Appium AI
            span.speaker Raviteja Medavaram
        .session.break
          .border
            p.time 11:00 - 11:15 a.m.
            .details
              h4.topic Break
        .session.talk
          p.time 11:15 - 12:00 p.m.
          .details
            h4.topic Test your Bot
            span.speaker Shama Ugale
        .session.talk
          p.time 12:00 - 12:45 p.m.
          .details
            h4.topic TBD
            span.speaker TBD
        .session.talk
          p.time 12:45 - 01:05 p.m.
          .details
            h4.topic Testing Voice Assistants
            span.speaker Prasad Mudedla
        .session.break
          .border
            p.time 01:05 - 02:00 p.m.
            .details
              h4.topic Lunch
        .session.talk
          p.time 02:00 - 02:20 p.m.
          .details
            h4.topic Fishbowl Session
        .session.talk
          p.time 02:30 - 04:30 p.m.
          .details
            p.track-title Workshop (parallel)
            h4.topic Visual Regression using Applitools Eyes
            span.speaker Nalinikanth Meesala / Shama Ugale
            br
            br
            p.track-title Workshop (parallel)
            h4.topic Scaling of Tests Using Serverless
            span.speaker Shridhar Kalagi
            br
            br
            p.track-title Workshop (parallel)
            h4.topic TBD
            span.speaker TBD
        .session.talk
          p.time 04:30 - 05:00 p.m.
          .details
            h4.topic Closing notes and Networking
