section#agenda.agenda
  .content.para
    h2 <strong>Agenda</strong>

    //h2 <strong>Topics</strong>
    p 
      | <strong> Run your tests on docker containers:  </strong>  
      | Docker Fundamentals and how docker can be used for reliably deploying and running automated tests.

    <br>

    //Specify the event date here in YYYY-MM-DD format
    .shotsDate#shotsDate
    .tracks.tracks-1
      .track
        .session.talk
          p.time 06:15 - 06:30 p.m.
          .details
            h4.topic Registration
        .session.talk
          p.time 06:30 - 07:20 p.m.
          .details
            h4.topic Docker Fundamentals
            span.speaker  Santosh Kumar Bhiravabhatla 
        .session.break
          .border
            p.time 07:20 - 07:30 p.m.
            .details
              h4.topic Break & Networking
        .session.talk
          p.time 07:30 - 08:30 p.m.
          .details
            h4.topic Run your tests on docker containers
            span.speaker Santosh Kumar Bhiravabhatla
