section#agenda.agenda
  .content.para
    h2 Agenda
    .tracks.tracks-1
      .track
        .session.talk
          p.time 9:30 - 10:00 a.m.
          .details
            h4.topic Ice Breaker
        .session.talk
          p.time 10:00 - 10:15 a.m.
          .details
            h4.topic Keynote
            //span.speaker Ramesh Baskarasubramanian
        .session.talk
          p.time 10:15 - 11:00 a.m.
          .details
            h4.topic Presentation
            //span.speaker Nalinikanth Meesala
        .session.break
          .border
            p.time 11:00 - 11:15 a.m.
            .details
              h4.topic Break
        .session.talk
          p.time 11:15 - 11:30 a.m.
          .details
            h4.topic Lightening talk
            //span.speaker Shivaling Sannalli
        .session.talk
          p.time 11:30 - 12:20 p.m.
          .details
            h4.topic Presentation
            //p Prateek Srivastava
        .session.talk
          p.time 12:20 - 12:35 p.m.
          .details
            h4.topic Lightening talk
            //span.speaker Sai Krishna
        .session.break
          .border
            p.time 12:35 - 01:20 p.m.
            .details
              h4.topic Lunch
        .session.talk
          p.time 01:30 - 02:00 p.m.
          .details
            h4.topic Fishbowl Session
        .session.talk
          p.time 02:00 - 04:00 p.m.
          .details
            p.track-title Workshop
            //h4.topic on BDD
        .session.talk
          p.time 04:00 - 05:00 p.m.
          .details
            h4.topic Closing notes and Networking
