section#agenda.agenda
  .content.para
    h2 Agenda (with slides)
    div(class="tracks tracks-1")
      .track
        div(class="session talk")
          p.time 9:30 - 10:00 a.m.
          .details
            h4.topic Registration
        div(class="session talk")
          p.time 10:00 - 10:15 a.m.
          .details
            h4.topic Keynote
            span.speaker Mayur Wadhwa
        div(class="session talk")
          p.time 10:15 - 10:55 a.m.
          .details
            h4.topic Security Testing
            span.speaker Ram Prasad Y
            //a.link(href="http://www.slideshare.net/vodqanite/patterns-of-test-automation")
             // img(src="./dist/assets/images/slideshare.svg")
             //| Slides
            //a.link(href="http://essenceoftesting.blogspot.in/2015/08/patterns-in-test-automation.html")
             // img(src="./dist/assets/images/youtube.svg")
              //| Video
        div(class="session break")
          .border
            p.time 10:55 - 11:10 a.m.
            .details
              h4.topic Break
        div(class="session talk")
          p.time 11:10 a.m - 12:30 p.m.
          .details
            h4.topic Session Continues..

        div(class="session talk")
          p.time 12:30 - 01:00 p.m.
          .details
            h4.topic Closing notes and Networking
