section#agenda.agenda
  .content.para
    h2 Agenda (with slides)
    div(class="tracks tracks-1")
      .track
        div(class="session talk")
          p.time 9:30 - 10:00 a.m.
          .details
            h4.topic Registration
        div(class="session talk")
          p.time 10:00 - 10:15 a.m.
          .details
            h4.topic Keynote
            span.speaker Mayur Wadhwa
        div(class="session talk")
          p.time 10:15 - 10:55 a.m.
          .details
            h4.topic Patterns of a “good” Test Automation Framework, Locators & Data!
            span.speaker Anand Bagmar
            a.link(href="http://www.slideshare.net/vodqanite/patterns-of-test-automation")
              img(src="/dist/assets/images/slideshare.svg")
              | Slides
        div(class="session break")
          .border
            p.time 10:55 - 11:10 a.m.
            .details
              h4.topic Break
        div(class="session talk")
          p.time 11:10 - 11:50 a.m.
          .details
            h4.topic Responsive Web Design Testing using Galen
            span.speaker Pranathi Birudugadda
            a.link(href="http://www.slideshare.net/vodqanite/responsive-webdesign-testing-using-galen-52326329?related=1")
              img(src="/dist/assets/images/slideshare.svg")
              | Slides
            a.link(href="https://github.com/PranathiB/galen")
              img(src="/dist/assets/images/github.svg")
              | Github
        div(class="session talk")
          p.time 11:50 - 12:05 p.m.
          .details
            h4.topic Blink Testing
            span.speaker Jyotsna Gorle
            a.link(href="https://prezi.com/gsyh_afsb2fb/blink-testing/")
              img(src="/dist/assets/images/slideshare.svg")
              | Slides
        div(class="session talk")
          p.time 12:05 - 12:45 p.m.
          .details
            h4.topic Testing Micro Services
            span.speaker Varuna Srivastsava
            a.link(href="http://www.slideshare.net/vodqanite/microservices-testing-52326363?related=1")
              img(src="/dist/assets/images/slideshare.svg")
              | Slides
        div(class="session break")
          .border
            p.time 12:45 - 1:30 p.m.
            .details
              h4.topic Lunch
        div(class="session talk")
          p.time 01:30 - 01:45 p.m.
          .details
            h4.topic Interactive Session
        div(class="session talk")
          p.time 01:45 - 02:00 p.m.
          .details
            h4.topic Lightning Talk 2
            span.speaker
        div(class="session talk")
          p.time.time-track 02:00 - 04:00 p.m.
          .details.details-half
            p.track-title Track 1
            h4.topic Gauge your BDD tests
            span.speaker Workshop
            a.link(href="http://www.slideshare.net/vodqanite/bdd-with-gauge?related=1")
              img(src="/dist/assets/images/slideshare.svg")
              | Slides
          .details.details-half
            p.track-title Track 2
            h4.topic Appium Your App
            span.speaker Mobile Automation Workshop
            a.link(href="http://www.slideshare.net/vodqanite/mobile-test-automation-made-awesome-with-appium-52326290?related=1")
              img(src="/dist/assets/images/slideshare.svg")
              | Slides
            a.link(href="https://github.com/saikrishna321/VodQa_MobileAutomationWorkShop")
              img(src="/dist/assets/images/github.svg")
              | Github
        div(class="session talk")
          p.time 04:00 - 04:30 p.m.
          .details
            h4.topic Closing notes and Networking
