section#agenda.agenda
  .content.para
    h2 <strong>Topic</strong>

    //h2 <strong>Topics</strong>
    p 
      | <strong> Design Principles for QA </i> </strong>  
      <br>
      | <strong><i>Speaker - Rohit Rao</i></strong>
      <br><br>
      | Quality is your prime directive, but have you done quality assessment of visual designs? How to verify designs from the Designers' point of view? Have you ever wondered how alignments or colors work on different levels of psychology? What are the simple rules of engagements that can enable a QA to see the design through the eyes of the designer and bolster the user experience.
      <br>
      | If this sounds fascinating, let's unravel it in the upcoming vodQA shots. This is QA'ing of Design and we will learn
      <br><br>
      |* Design / Color / Type rules that are followed
      <br>
      |* Usability top 10
      <br>
      |* Accessibility

//-     <br>

//-     //Specify the event date here in YYYY-MM-DD format
//-     .shotsDate#shotsDate
//-     .tracks.tracks-1
//-       .track
//-         .session.talk
//-           p.time 06:25 - 06:30 p.m.
//-           .details
//-             h4.topic Welcome Note
//-         .session.talk
//-           p.time 06:30 - 07:30 p.m.
//-           .details
//-             h4.topic Run your android espresso tests on TestLab
//-             span.speaker  B Krishna Chaitanya 
//-         .session.break
//-           .border
//-             p.time 07:20 - 07:30 p.m.
//-             .details
//-               h4.topic Break & Networking
//-         .session.talk
//-           p.time 07:30 - 08:30 p.m.
//-           .details
//-             h4.topic Run your tests on docker containers
//-             span.speaker Santosh Kumar Bhiravabhatla
