section#editions.editions-section
    .content.para
        h2 Past editions
    ul.editions
        li
            a(href="/vodqa/nov2019" target="_blank")
                .month Nov
                .day 28
                .year 2019

        li
            a(href="/vodqa/may2018" target="_blank")
                .month Sept
                .day 26
                .year 2019
