section.faqs
  .content
    h2 FAQs
    ol
      li.faq
        h1 Do I have to pay for attending the event?
        p Absolutely NO. It's a free QA community event.
      li.faq
        h1 I'm not from QA background, can I attend?
        p Yes please.
      li.faq
        h1 Can I bring my friend/collegue along?
        p Yes, let us know well before.
      li.faq
        h1 Can I get my laptop?
        p We have all the arrangements, if you want you can get it.
    
