doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title vodQA 2015
      script(src="../bower_components/webcomponentsjs/webcomponents.min.js")
   body
      .header
         block headerTemplate

