section.invite
  .content
    .box
      h4 ThoughtWorks, Hyderabad
      h3.invite-msg Security: Towards a safer web world

      .date
        | Saturday, 12
        sup th
        |  December 2015

      .agenda
        a.btn.speaker(href="#register") Registrations Closed

