section#about.invite
  .content
    //.box
      h3.event-name VodQA shots

      h4.event-theme
      .date
        | Thursday, 30
        sup th
        | January 2020 (18:30 hrs)
      .agenda
        a.btn.participate(href="https://forms.gle/tS5hR22yfPHxocN4A" target="_blank")
          span Participate
          br
          sub closed on 12th March 2019
