section.invite
  .content
    .box
      h4.tw-name Theme for this edition of vodQA
      h3.event-name Quality Pandas

      h4.event-theme 
      .date
        | Saturday, 26
        sup th 
        | May 2018
      .agenda
        a.btn.submit-talk(href="https://docs.google.com/forms/d/e/1FAIpQLSfgGYLxGS3WI7gv4TuAUNzi37vo3kSkt_qF66Cp3Gril59Tjg/viewform") Submit talk
        p Speaker registration is now open
        a.btn.participate(href="#")
          span Participate
          sub &nbsp;coming soon
        a.contact-us(href="#contact") Want to say something?
