section.invite
  .content
    .box
      img.tw-logo(src="./dist/assets/images/TW_Logos_trans_white.png")
      h3.event-name vodQA Hyderabad

      h3.present-talk-text want to present a talk in upcoming vodQA
      .agenda
        a.btn.submit-talk(href="#") Submit here
