section.invite
  .content
    .box
      h4 ThoughtWorks, Hyderabad
      
      .date
        | Saturday, 
        | 29
        sup th
        | August, 2015
      
      h3.invite-msg Inviting Speakers
      a.btn.speaker(href="#register") Register
