section.invite
  .content
    .box
      h4 ThoughtWorks, Hyderabad
      
      .date
        | Saturday,
        | 12
        sup th
        | December 2015
      
      h3.invite-msg Conference for Quality Analysts
      .agenda 
        a.btn.speaker(href="#register") Registrations Closed

