section.invite
  .content
    .box
      h4.tw-name Theme for this edition of vodQA
      h3.event-name Seismic Shifts

      h4.event-theme
      .date
        | Saturday, 16
        sup th
        | March 2019
      .agenda
        a.btn.submit-talk(href="#") Submit talk
        <!--p Speaker registration is now open-->
        a.btn.participate(href="#")
          span Participate
         // br
          //sub closed on 12th March 2019
       a(href="#agenda") Scroll down for slides
