section.invite
  .content
    .box
      h4 ThoughtWorks, Hyderabad
      
      .date
        | Saturday, 
        | 22
        sup nd
        | August 2015
      
      h3.invite-msg Conference for Quality Analysts
      a.btn.speaker(href="#register") Register
      .agenda No Fees. Only costs your Saturday.
