section.invite
  .content
    .box
      h4.tw-name Theme for this edition of vodQA
      h3.event-name Rise of Testers

      h4.event-theme We Fight for Quality
      .date
        | Saturday, 20
        sup th 
        | May 2017
      .agenda
        a.btn.submit-talk(href="#") Submit talk
        p Speaker registration is now closed
        a.btn.participate(href="#") Participate
        a.contact-us(href="#contact") Want to say something?
