section.invite
  .content
    .box
      h4 ThoughtWorks, Hyderabad
      
      .date
        | Saturday, 
        | 22
        sup nd
        | August 2015
      
      h3.invite-msg Inviting Speakers
      a.btn.speaker(href="#register") Register
