section#agenda.agenda
  .content.para
    h2 Agenda
    div(class="tracks tracks-1")
      .track
        div(class="session talk")
          p.time 9:30 - 10:00 a.m.
          .details
            h4.topic Registration
        div(class="session talk")
          p.time 10:00 - 10:15 a.m.
          .details
            h4.topic Keynote
        div(class="session talk")
          p.time 10:15 - 10:45 a.m.
          .details
            h4.topic Why Security and its Business Impact
            span.speaker Shilpa & Hari
            a.link(href="http://www.slideshare.net/vodqanite/introduction-to-security-testing-56234491")
              img(src="./dist/assets/images/slideshare.svg")
              | Slides
        div(class="session talk")
          p.time 10:45 - 11:45 a.m.
          .details
            h4.topic Introduction to Security Vulnerabilities
            span.speaker Shirish Padalkar
            a.link(href="http://www.slideshare.net/vodqanite/introduction-to-security-vulnerabilities")
              img(src="./dist/assets/images/slideshare.svg")
              | Slides
            a.link(href="https://github.com/shirishp/VulnerabilitiesDemo")
              img(src="./dist/assets/images/github.svg")
              | Code
        div(class="session break")
          .border
            p.time 11:45 - 12:00 p.m.
            .details
              h4.topic Break
        div(class="session talk")
          p.time 12:00 - 01:00 p.m.
          .details
            h4.topic Hands-On Workshop on Web Security
            span.speaker Nagesh, Nalinikanth, Chaitanya
            a.link(href="http://www.slideshare.net/vodqanite/security-testing-hands-on-workshop-material")
              img(src="./dist/assets/images/slideshare.svg")
              | Slides
            a.link(href="https://github.com/H4rryp0tt3r/Simple-SQL-Injection-Demo-Website")
              img(src="./dist/assets/images/github.svg")
              | Code
            a.link(href="http://www.slideshare.net/vodqanite/xss-and-sql-injection-workshop-steps")
              img(src="./dist/assets/images/pdf.png")
              | Notes
        div(class="session talk")
          p.time 1:00 - 01:30 p.m.
          .details
            h4.topic Closing notes and Networking
