section.register(id="register")
   .content.para
      h2
         | Speaker Registration
      p(class="notifications") Submit your talk below and if you like to make more than one submission do reach out to us at
         em  vodqa-hyderabad@thoughtworks.com
         <br/>
         | Example categories:
         | Mobile testing,
         | Performance testing,​
         | Gamification of testing,
         | Security testing ​
      form(id="mktoForm_3106")
