section.register(id="register")
   .content
      h2
         | Speaker Registration
      form(id="speaker-reg")
         input(type="text",placeholder="Name")
         br
         input(type="text",placeholder="Email")
         br
         input(type="text",placeholder="Phone")
         br
         input(type="text",placeholder="Presentation Title")
         br
         input(type="text",placeholder="Company")
         br
         input(type="text",placeholder="Role")
