.navigator
   ul
      li
         a(href="#") Home
         ||
      li
         a(href="#") About
         ||
      li
         a(href="#") Speakers
         ||
      li
         a(href="#") Agenda
         ||
      li
         a(href="#") Contact
         ||
      li
         a(href="#") Register
