section#editions.editions-section
    .content.para
        h2 Past editions
    ul.editions
        li
            a(href="/vodqa/may2017")
                .month May
                .day 20
                .year 2017
        li
            a(href="/vodqa/july2016")
                .month Jul
                .day 02
                .year 2016
        li
            a(href="/vodqa/dec2015")
                .month Dec
                .day 12
                .year 2015
        li
            a(href="/vodqa/aug2015")
                .month Aug
                .day 22
                .year 2015
        li
            a(href="https://info.thoughtworks.com/vodqa-hyderabad-jan-2015-registration.html")
                .month Jan
                .day 31
                .year 2015
