dom-module(id="register-section")
   template
      div(id="reg-form", class="reg-form")
         h2 REGISTRATION
         form
            input(type="text")
            br
            input(type="text")
            br
            input(type="text")
   script(src="register-section.js")
