section.theme
  .content.para(id="why")
    h2 <strong>What is VodQA shots?</strong>
    p
      |Conducted by ThoughtWorks Hyderabad, vodQA shots is a bi-monthly event aimed to offer a platform for the testing community of Hyderabad to come together to explore changing realms of software testing and QA practices. In its original avatar, VodQA shots used to be held on the premises of ThoughtWorks every alternate month.
      <br><br>
      |However the unprecedented event of Covid-19 has catapulted the software professionals to work remotely from the safety of their homes. Now distance is no more a constraint to join any learning event happening anywhere. That's why VodQA shots has elevated itself to a webinar format so that it can connect with QA professionals across India. 

//- section.about(id="agenda")
  //- .content.para
    //- h2 <strong>Topics</strong>
    //- p 
    //-   | <strong> Run your tests on docker containers:  </strong>  
    //-   | Docker Fundamentals and how docker can be used for reliably deploying and running automated tests.

    //- <br>
