section#editions.editions-section
    .content.para
        h2 Past editions
    ul.editions
        li(onclick="openNav('../../../../sep2020/index.html')")
            a
                .month Sep
                .day 10
                .year 2020
        li(onclick="openNav('../../../../july2020/index.html')")
            a
                .month Jul
                .day 16
                .year 2020
        li(onclick="openNav('../../../../may2020/index.html')")
            a
                .month May
                .day 7
                .year 2020

        //- li(onclick="openNav('../../../../may2018/index.html')")
        //-     a
        //-         .month Sept
        //-         .day 26
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/nov2019" target="_blank")
        //-         .month Nov
        //-         .day 28
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/may2018" target="_blank")
        //-         .month Sept
        //-         .day 26
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/nov2019" target="_blank")
        //-         .month Nov
        //-         .day 28
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/may2018" target="_blank")
        //-         .month Sept
        //-         .day 26
        //-         .year 2019
        
        //- li
        //-     a(href="/vodqa/nov2019" target="_blank")
        //-         .month Nov
        //-         .day 28
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/may2018" target="_blank")
        //-         .month Sept
        //-         .day 26
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/nov2019" target="_blank")
        //-         .month Nov
        //-         .day 28
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/may2018" target="_blank")
        //-         .month Sept
        //-         .day 26
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/nov2019" target="_blank")
        //-         .month Nov
        //-         .day 28
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/may2018" target="_blank")
        //-         .month Sept
        //-         .day 26
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/nov2019" target="_blank")
        //-         .month Nov
        //-         .day 28
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/may2018" target="_blank")
        //-         .month Sept
        //-         .day 26
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/nov2019" target="_blank")
        //-         .month Nov
        //-         .day 28
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/may2018" target="_blank")
        //-         .month Sept
        //-         .day 26
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/nov2019" target="_blank")
        //-         .month Nov
        //-         .day 28
        //-         .year 2019

        //- li
        //-     a(href="/vodqa/may2018" target="_blank")
        //-         .month Sept
        //-         .day 26
        //-         .year 2019


    div(id="myNav" class="overlay")
        a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times;
        div(class="overlay-content")
        div(class="temp-div" style="display: none")
            