section.about(id="about")
  .content.para
    h2 About
    p
      | 'vodQA' -​ stands for Value Oriented Discussion for Quality Analysts. 
      | It is​ a forum where testing enthusiasts get together, network and collaborate on the latest developments in the world of software testing​. It offers a unique ​platform for our peers in the software testing industry to strengthen the QA community by sharing and learning new practices and ideas.​ It offers a​n​ opportunity to interact with people who are equally passionate about software testing and continuously strive to better the art.​ ​So far, we have successfully hosted more​ than 20 editions of vodQA across all ThoughtWorks India offices and very recently, the ThoughtWorks Singapore office.
    blockquote 
      | It's All About Testing!
    p
      | For this edition of vodQA we have chosen the theme as "It's Next Generation Testing!". The motto for choosing this theme is to allow the wider community to submit talks on testing that could belong to any category. If you have come across any topic that kindled your interest and would like to share with a wider audience or if you worked on a tool that could galvanize the testing community,
      |then this is the right platform for you to present.
