section.theme
  .content.para(id="why")
    h2 <strong>Why VodQA shots?</strong>
    p
      | <strong>&ldquo;The illiterate of the 21st century will not be those who cannot read and write, but those who cannot learn, unlearn, and relearn.&rdquo;</strong> - <i>Alvin Toffler</i>
      | <br><br>
      | We bring you VodQA shots which is a bimonthly event scheduled to be held on last Thursday on alternate months where the QAs in Hyderabad will come together to explore new realms of testing. While VodQA provides a larger platform to engage with QA community in Hyderabad and share our learnings, it is logistically difficult to conduct it multiple times a year as the community had suggested few times. Technology is changing at the blink of an eye and we could not wait for a year to meet the community.

section.about(id="about")
  .content.para
    h2 <strong>Topics</strong>
    p 
      | <strong> Run your tests on docker containers:  </strong>  
      | Docker Fundamentals and how docker can be used for reliably deploying and running automated tests.

    <br>
