section.theme
  .content.para(id="why")
    h2 Why VodQA shots?
    p 
      | <strong>&ldquo;The illiterate of the 21st century will not be those who cannot read and write, but those who cannot learn, unlearn, and relearn.&rdquo;</strong> - <i>Alvin Toffler</i>
      | <br><br>
      | We bring you VodQA shots which is a bimonthly event scheduled to be held on last Thursday on alternate months where the QAs in Hyderabad will come together to explore new realms of testing. While VodQA provides a larger platform to engage with QA community in Hyderabad and share our learnings, it is logistically difficult to conduct it multiple times a year as the community had suggested few times. Technology is changing at the blink of an eye and we could not wait for a year to meet the community.

section.about(id="about")
  .content.para
    h2 Topics
    p <strong>Testing an asynchronous system - </strong>Asynchronous systems!! Did you hear about this term? Obviously, in the context of software development!! Did you test them? Let’s discuss some insights on testing Asynchronous systems, what are the challenges? What are the best practices? Should I test in production or not? Key takeaways:  Testing asynchronous systems, Approaches, how to draw test boundaries for such systems.

    <br>
    p <strong>Contract Testing to shorten your feedback time - </strong>In this session, we will introduce you to how testing evolved in the world of micro services followed by a deep dive into consumer-driven-contracts using <b>Pact</b>, that are essential part of microservice testing portfolio.
