section.theme
  .content.para
    h2 What is VodQA shots?
    p 
      | Technology is changing at the speed of light, so we have to keep learning all the times. That's why we could not wait for another VodQA event to reach out to the community. Why not try learning in bytes. That's why we bring VodQA shots. It is a bi-monthly event happening on last Thursday of the month.

section.about(id="about")
  .content.para
    h2 About
    p Technology is changing at the speed of light, so we have to keep learning all the times. That's why we could not wait for another VodQA event to reach out to the community. Why not try learning in bytes. That's why we bring VodQA shots. It is a bi-monthly event happening on last Thursday of the month.
