section.theme
  .content.para
    h2 Theme
    p For this edition of vodQA we have chosen the theme as 
      b Seismic Shifts.
      br
      | Successful leaders stay ahead of the competition by constantly assessing new opportunities for their tech-driven businesses. In this series, ThoughtWorks reviews technology trends and captures these five “Seismic Shifts” that will radically change how people interact with technology, how businesses will evolve to incorporate machine intelligence, and how these systems will be created and run. They are VR, AR, ML, AI, APIs and robots. The future is here. Is the world of testing ready to keep up and deliver the quality oriented solutions with the Seismic Shifts. Come and join us to speak, share, learn about testing in the era of these Seismic Shifts.

section.about(id="about")
  .content.para
    h2 About
    p vodQA, Value Oriented Discussion about Quality Analysis is a forum that sports the motto - 'come learn something new'. The forum offers a unique platform for the software testing industry to strengthen the QA community through knowledge sharing.
