section.about(id="about")
  .content.para
    h2 Theme
    p Testing Heuristics is a fallible method of solving a problem. Excellent testing requires skill, but heuristics give structure to that skill. While heuristic approach has been extensively used in Usability Testing, it is gaining momentum in day to day software testing activities. If you have any interesting insights that you would like to present on Heuristics or any other topic, please submit your talk.

    h2 About
    p vodQA, Value Oriented Discussion about Quality Analysis is a forum that sports the motto - 'come learn something new'. The forum offers a unique platform for the software testing industry to strengthen the QA community through knowledge sharing.
