section.about(id="about")
  h2 About
  .content
    p vodQA has been a platform of choice for passionate quality enthusiasts to network, share and learn from each other. So far, we have successfully hosted more than 20 editions of vodQA across all ThoughtWorks India offices and very recently, the ThoughtWorks Singapore office.

