section.about(id="about")
  .content.para
    h2 Theme
    p Heuristic (from the Greek "heuriskein" meaning "to discover") pertains to the process of gaining knowledge or some desired result by intelligent guesswork rather than by following some pre-established formula. Testing Heuristics is a fallible method of solving a problem. Excellent testing requires skill, but heuristics give structure to that skill. They do not replace skill and they don’t make skill unnecessary. But they can make skilled people more productive and reliable. While heuristic approach has been extensively used in Usability Testing, it is gaining momentum in day to day software testing activities. HICCUPPS and SFDPOT are the examples of mnemonics that help in Heuristic Testing. If you have any interesting insights that you would like to present, submit your talk in the below form.

    h2 About
    p vodQA, Value Oriented Discussion on Quality Analysis is a forum that sports the motto - 'come learn something new'. The forum offers a unique platform for the software testing industry to strengthen the QA community through knowledge sharing.
