section.about(id="about")
  .content.para
    h2.main Security: Towards a safer web world
    p
      | Web Security has been a major concern today. Battles have long raged over how others can access and use your data. Year on year, online privacy faces new threats, as a result of emerging technologies and new regulatory efforts that could affect how your Web-based life is protected or exposed. Let's get insight into these security vulnerabilities and how we can define strategy around security testing with this vodQA.
    h2 About vodQA
    p
      | 'vodQA' -​ stands for Value Oriented Discussion for Quality Analysts.
      | It is​ a forum where testing enthusiasts get together, network and collaborate on the latest developments in the world of software testing​. It offers a unique ​platform for our peers in the software testing industry to strengthen the QA community by sharing and learning new practices and ideas.​ It offers a​n​ opportunity to interact with people who are equally passionate about software testing and continuously strive to better the art.​ ​So far, we have successfully hosted more​ than 20 editions of vodQA across all ThoughtWorks India offices and very recently, the ThoughtWorks Singapore office.
