section.contact(id="contact")
  .content
    h2 Contact us
    .details
      br
      h3 EMAIL
      p vodqa-hyderabad@thoutghtworks.com
      br
      h3 PHONE NUMBER
      p 040 4388 4100
      br
      h3 ADDRESS
      p Apurupa Slipi Sy No 124 Part, 3rd floor Gachilbowli Village Above KFC Serilingampally Mandal RR Dist - Hyd - 500032, Gachibowli Road, Rajiv gandhi Nagar, Gachibowli, Hyderabad, Telangana 500032
    .map
      iframe(frameborder="0", width="200", src=src="https://www.google.com/maps/embed/v1/place?q=Thoughtworks%20Hyderabad%2C%20Gachibowli%20Road%2C%20Rajiv%20gandhi%20Nagar%2C%20Hyderabad%2C%20Telangana%2C%20India&key=AIzaSyBVhxpE3BbGTvguD59oTfp-C1D3MOGDpFM")
