section.contact(id="contact")
  .content.para
    h2 Contact us
    .details
      br
      h3 EMAIL
      p: a(href="mailto:vodqa-hyderabad@thoughtworks.com") vodqa-hyderabad@thoughtworks.com
      br
      h3 PHONE NUMBER
      p Office: +9140 4388 4100
      p Santosh Kumar Bhiravabhatla : +91 8125411396
      br
      h3 ADDRESS
      p 
        strong 
          | ThoughtWorks Technologies
          br 
          | (India) Pvt Ltd.
        br
        | Apurupa Slipi Sy No 124 Part, 
        br
        | 3rd floor (Above KFC), Gachilbowli Village, 
        br
        | Serilingampally Mandal, Gachibowli Road, 
        br 
        | Rajiv gandhi Nagar, Gachibowli, 
        br
        | RR Dist, Hyderabad, Telangana 500032
    .map
      iframe(frameborder="0", width="200", src=src="https://www.google.com/maps/embed/v1/place?q=Thoughtworks%20Hyderabad%2C%20Gachibowli%20Road%2C%20Rajiv%20gandhi%20Nagar%2C%20Hyderabad%2C%20Telangana%2C%20India&key=AIzaSyBVhxpE3BbGTvguD59oTfp-C1D3MOGDpFM")
