section.speakers(id="speakers")
    .content.para
        h2 Speakers
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/shirish.jpg")
            .details
                h3 Shirish
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/shilpa.jpg")
            .details
                h3 Shilpa
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/nalini.jpg")
            .details
                h3 Nalinikanth
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/nagesh.jpg")
            .details
                h3 Nagesh
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/chaitanya.jpg")
            .details
                h3 Chaitanya
        .speaker-block
            p.speaker-img
                img(src="./dist/assets/images/hari.jpg")
            .details
                h3 Hari
