section.theme
  .content.para
    h2 Theme
    p For this edition of vodQA we have chosen the theme as 
      b Quality Pandas.
      br
      | Motto behind this theme is to allow wider QA community to connect on testing topics that could belong to any category. Enjoy the fun of sharing or gaining knowledge on any testing topic that kindled your interest. Also gain hands on experience on the tools that could galvanize the testing community. This could be right platform for you to present, learn, connect and share.

section.about(id="about")
  .content.para
    h2 About
    p vodQA, Value Oriented Discussion about Quality Analysis is a forum that sports the motto - 'come learn something new'. The forum offers a unique platform for the software testing industry to strengthen the QA community through knowledge sharing.
