section#event-card.event-card
    .content
        h2#event-title.event-title <strong>Upcoming Event</strong>
        <br />
        p#event-topic.event-topic <strong>Run Android Espresso Tests on Firebase TestLabs</strong>  
        p(id="event-date" class="event-date" event-date="2020-05-07")
            | Thursday, 7<sup>th</sup> May 2020 (18:25 hrs)
        
        div(id="clockdiv")
            div
                span(class="days")
                div(class="smalltext") Days
            div
                span(class="hours")
                div(class="smalltext") Hours
            div
                span(class="minutes")
                div(class="smalltext") Minutes
            div
                span(class="seconds")
                div(class="smalltext") Seconds

        .btn-section
            a#btn-attend.btn(href="https://tinyurl.com/twhyd-vodqashot4" target="_blank")
                span Attend
            a#btn-feedback.btn(href="https://forms.gle/tS5hR22yfPHxocN4A" target="_blank")
                span Feedback
            a#btn-talk.btn(href="https://tinyurl.com/twhyd-vodqashot-speaker" target="_blank")
                span Give a Talk