section.invite
  .content
    .box
      h3.event-name VodQA shots

      h4.event-theme
      .date
        | Thursday, 26
        sup th
        | September 2019 (18:30 hrs)
      .agenda
        <!-- a.btn.submit-talk(href="#") Submit talk -->
        <!--p Speaker registration is now open-->
        a.btn.participate(href="https://docs.google.com/forms/d/e/1FAIpQLSfLG15Ml0uWqZ5hcnAov6A_mQvyYQBigTHNi3LGQSl6zKzxuA/viewform?usp=sf_link" target="_blank")
          span Participate
         // br
          //sub closed on 12th March 2019
       <!--a(href="#agenda") Scroll down for slides-->
