doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property='og:url', content='http://twhyderabad.github.io/vodqa/')
    meta(property='og:description', content="vodQA, Value Oriented Discussion about Quality Analysis is a forum that sports the motto - 'come learn something new'. The forum offers a unique platform for the software testing industry to strengthen the QA community through knowledge sharing.")
    meta(property="og:image", content="http://twhyderabad.github.io/vodqa/dist/assets/images/vodqa-2018.jpg")
    meta(property="og:title", content="vodQA - Seismic Shifts - 16 March 2019")
    title
        include sections/title/title.jade
    link(rel="icon" href="favicon.ico")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="dist/assets/js/jquery.bxslider.min.js")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,600,400,700,900' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="dist/assets/main.css")
    link(rel="stylesheet", href="dist/assets/lib/jquery.bxslider.css")
    script
      |$(document).ready(function(){
      |   $('.bxslider').bxSlider({
      |     mode: 'fade',
      |     captions: true
      |   });
      |});

    script(src="dist/assets/index.js")
    script(src="//app-e.marketo.com/js/forms2/js/forms2.min.js")
    //- script
    //-   | MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 4671);
body
  //include data/agenda.jade

  include sections/navigation/navigation.jade
  //include sections/header/header.jade
  include sections/invite/invite.jade
  include sections/about/about.jade
  include sections/agenda/agenda.jade
  //include sections/speakers/speakers.jade
  include sections/faq/faq
  //- include sections/register/register.jade
  include sections/editions/editions.jade
  include sections/contact/contact.jade
  include sections/footer/footer.jade
  script(src="dist/assets/js/mkto-style-overrides.js")
