section#agenda.agenda
  .content.para
    h2 <strong>Topic</strong>

    //h2 <strong>Topics</strong>
    p 
      | <strong> Run Android Espresso Tests on Firebase TestLabs </i> </strong>  
      <br>
      | <strong><i>Speaker - B Krishna Chaitanya</i></strong>
      <br><br>
      | Espresso testing framework by the Android Testing Support Library provides APIs for writing UI tests to simulate user interactions within a single target app. In this session we will discuss the following concepts:
      <br><br>
      |* Components of Espresso
      <br>
      |* Write espresso tests for the android application
      <br>
      |* Procedure to run the Espresso tests on Firebase Testlab

//-     <br>

//-     //Specify the event date here in YYYY-MM-DD format
//-     .shotsDate#shotsDate
//-     .tracks.tracks-1
//-       .track
//-         .session.talk
//-           p.time 06:25 - 06:30 p.m.
//-           .details
//-             h4.topic Welcome Note
//-         .session.talk
//-           p.time 06:30 - 07:30 p.m.
//-           .details
//-             h4.topic Run your android espresso tests on TestLab
//-             span.speaker  B Krishna Chaitanya 
//-         .session.break
//-           .border
//-             p.time 07:20 - 07:30 p.m.
//-             .details
//-               h4.topic Break & Networking
//-         .session.talk
//-           p.time 07:30 - 08:30 p.m.
//-           .details
//-             h4.topic Run your tests on docker containers
//-             span.speaker Santosh Kumar Bhiravabhatla
