section#agenda.agenda
  .content.para
    h2 Agenda
    .tracks.tracks-1
      .track
        .session.talk
          p.time 9:30 - 09:45 a.m.
          .details
            h4.topic Ice Breaker
        .session.talk
          p.time 09:45 - 10:15 a.m.
          .details
            h4.topic Keynote
            span.speaker Bharat Akkinepalli
        .session.talk
          p.time 10:15 - 11:00 a.m.
          .details
            h4.topic Automated Accessibility Testing
            span.speaker Rakesh Kondreddy
        .session.break
          .border
            p.time 11:00 - 11:15 a.m.
            .details
              h4.topic Break
        .session.talk
          p.time 11:15 - 11:30 a.m.
          .details
            h4.topic Customer Focused Testing
            span.speaker Mahesh Dey
        .session.talk
          p.time 11:30 - 12:20 p.m.
          .details
            h4.topic Write Better UI tests with Selenide
            p Biswajit / Mahesh
        .session.talk
          p.time 12:20 - 12:35 p.m.
          .details
            h4.topic Think Security
            span.speaker Nalinikanth Meesala
        .session.break
          .border
            p.time 12:35 - 01:20 p.m.
            .details
              h4.topic Lunch
        .session.talk
          p.time 01:30 - 02:00 p.m.
          .details
            h4.topic Fishbowl Session
        .session.talk
          p.time 02:00 - 04:00 p.m.
          .details
            p.track-title Workshop (parallel)
            h4.topic Consumer Driven Contract Testing
            span.speaker Shirisha Kodimala / Pushpalatha Dumpala
            br
            br
            p.track-title Workshop (parallel)
            h4.topic Cross Browser Testing with TestCafe
            span.speaker Kaustav
            br
            br
            p.track-title Workshop (parallel)
            h4.topic Mobile Test Automation using Appium
            span.speaker RaviTeja
        .session.talk
          p.time 04:00 - 05:00 p.m.
          .details
            h4.topic Closing notes and Networking
