section.header
  .content(id="home")
    img.logo(src="dist/assets/images/logo.png")
    img.tagline(src="dist/assets/images/tagline.png")
    h4 ThoughtWorks, Hyderabad
    h2 29
      sup th
      | August, 2015

    section.header-register 
      .content
        a.btn.speaker(href="#register") Speaker Registeration
        a.btn.disabled Attendee Registeration 
          span (coming soon)
