section.header
  include navigator/navigator.jade
  .content
    img.logo(src="/assets/images/logo.png")
    h2.theme It's all about Testing !!!
    h2 27th Aug 2015
    h4 Thoughtworks, Hyderabad
  
