section.header
  .content(id="home")
    img.logo(src="dist/assets/images/logo.png")
    img.tagline(src="dist/assets/images/tagline.png")
    h4 ThoughtWorks, Hyderabad
    h2 29
      sup th
      | August, 2015

    center
      p.register-button(id="nav")
        a(href="#register") Speaker Registration  &nbsp;
          span(style="font-size:1.5em") &rsaquo;
      p.notification * Attendee Registration will open soon!!!
