section.invite
  .content
    .box
      h4.tw-name Theme for this edition of vodQA
      h3.event-name Quality Pandas

      h4.event-theme 
      .date
        | Saturday, 26
        sup th 
        | May 2018
      .agenda
        a.btn.submit-talk(href="#") Submit talk
        <!--p Speaker registration is now open-->
        a.btn.participate(href="#" target="")
          span Participate
          //br
          //sub closed on 24th May 2018
        a.contact-us(href="#contact") Want to say something?
