section#agenda.agenda
  .content.para
    h2 <strong>Topic</strong>

    //h2 <strong>Topics</strong>
    p 
      | <strong> To mock or not to mock </i> </strong>  
      <br>
      | <strong><i>Speaker - Rahul C</i></strong>
      <br><br>
      | Do we understand what power mocking brings to unit tests? What style of testing would give a greater confidence on the code base and you can eventually sleep well at night? In the 5th edition of VodQA shots, Rahul C is going to elucidate the capabilities mocking provide in testing. While mocking is primarily used by developers in writing unit tests, a good understanding of its benefits and limitations can help the QAs define an effective Test Strategy and focus their energy on things matter. In this webinar, Rahul is going to talk about
      <br><br>
      |* What kinds of unit testing styles exist?
      <br>
      |* What is a mock?
      <br>
      |* When to mock and when not to?
      <br>
      |* Principles to keep in mind when mocking

//-     <br>

//-     //Specify the event date here in YYYY-MM-DD format
//-     .shotsDate#shotsDate
//-     .tracks.tracks-1
//-       .track
//-         .session.talk
//-           p.time 06:25 - 06:30 p.m.
//-           .details
//-             h4.topic Welcome Note
//-         .session.talk
//-           p.time 06:30 - 07:30 p.m.
//-           .details
//-             h4.topic Run your android espresso tests on TestLab
//-             span.speaker  B Krishna Chaitanya 
//-         .session.break
//-           .border
//-             p.time 07:20 - 07:30 p.m.
//-             .details
//-               h4.topic Break & Networking
//-         .session.talk
//-           p.time 07:30 - 08:30 p.m.
//-           .details
//-             h4.topic Run your tests on docker containers
//-             span.speaker Santosh Kumar Bhiravabhatla
