section#agenda.agenda
  .content.para
    h2 Agenda
    .tracks.tracks-1
      .track
        .session.talk
          p.time 9:30 - 10:00 a.m.
          .details
            h4.topic Registration
        .session.talk
          p.time 10:00 - 10:15 a.m.
          .details
            h4.topic Keynote
            span.speaker Kashi Reddy
        .session.talk
          p.time 10:15 - 10:55 a.m.
          .details
            h4.topic The What, Why & How of Web Analytics Testing
            span.speaker Anand Bagmar
            a.link(href="http://essenceoftesting.blogspot.in/2016/07/what-is-web-analytics-and-how-to-test-it.html")
              img(src="./dist/assets/images/slideshare.svg")
              | Slides
        .session.break
          .border
            p.time 10:55 - 11:10 a.m.
            .details
              h4.topic Break
        .session.talk
          p.time 11:10 - 11:50 a.m.
          .details
            h4.topic Heuristics to scale your Automation Frameworks
            span.speaker Prasad Kalgutkar
            a.link(href="http://www.slideshare.net/vodqanite/heuristics-to-scale-your-framework")
              img(src="./dist/assets/images/slideshare.svg")
              | Slides
        .session.talk
          p.time 11:50 - 12:05 p.m.
          .details
            h4.topic Lightning Talk
        .session.talk
          p.time 12:05 - 12:45 p.m.
          .details
            h4.topic Symbolic Code Execution
            span.speaker Sreedhar Joshi & Nagesh
        .session.break
          .border
            p.time 12:45 - 1:30 p.m.
            .details
              h4.topic Lunch
        .session.talk
          p.time 01:30 - 01:45 p.m.
          .details
            h4.topic Fishbowl Session
        .session.talk
          p.time.time-track 02:00 - 04:00 p.m.
          .details.details-half
            p.track-title Workshop Track 1
            h4.topic Understand Web Services and How to Test them
            a.link(href="http://www.slideshare.net/vodqanite/increase-automation-to-rest")
              img(src="./dist/assets/images/slideshare.svg")
              | Slides
          .details.details-half
            p.track-title Workshop Track 2
            h4.topic Automation Framework Integration with CI
            a.link(href="http://www.slideshare.net/vodqanite/integration-of-automation-framework-with-ci-tools")
              img(src="./dist/assets/images/slideshare.svg")
              | Slides
        .session.talk
          p.time 04:00 - 04:30 p.m.
          .details
            h4.topic Closing notes and Networking
