doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title vodQA 2015
        script(src="webcomponentsjs/webcomponents.min.js")
    body
        header
            h1 VODQA
            ul
                li Home
                li About
                li Contact
                li Register

