doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title vodQA 2015
        script(src="webcomponentsjs/webcomponents.min.js")
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,600,400' rel='stylesheet' type='text/css')
        link(rel="stylesheet", href="/assets/main.css")
    body
        .container
            include sections/header/header.jade
            include sections/about/about.jade
            include sections/speakers/speakers.jade
            include sections/agenda/agenda.jade
