doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title vodQA 2015
        script(src="webcomponentsjs/webcomponents.min.js")
    body
        include sections/header/header.jade
        include sections/about/about.jade
        include sections/speakers/speakers.jade
        include sections/agenda/agenda.jade
