doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title vodQA 2015
        script(src="webcomponentsjs/webcomponents.min.js")
        link(rel="import" href="paper-input/paper-input.html")
        link(rel="stylesheet" href="header/style.css")
    body
        .header
            block headerTemplate
