section.about
  // background: $grey-2
  .content
    line-height: 1.9em
    text-align: justify
    .themeTagLine
      font-style: italic
      font-weight: 200
      font-size: 22px
      padding: 10px
