section.contact
  background: $grey-3
  .content
    max-width: 100%
    .details
      max-width: 50%
      float: left
      padding: 0 30px 20px 0
    .map
      iframe
        border-top: 50px solid #ffffff
        border-bottom: 50px solid #ffffff
        height: 250px
        width: 40%
        float: right
        border: 3px solid #FFF
        @media (max-width: 768px)
          width: 100%
          margin-top: 20px
