section.invite
  background: url("images/bg.jpg") no-repeat fixed center center
  background-size: cover

section.invite
  margin-top: 117px
  @media(max-width: 480px)
    margin-top: 50px
  .content
    text-align: center
    padding: 0
  .box
    background: rgba($primary, 0.95)
    text-align: center
    width: 25em
    float: right
    margin: 2em
    padding: 2em
    color: #ddd
    @media all and (max-width: 768px)
      margin: 3em 1em
      width: 20em
    @media all and (max-width: 480px)
      margin: 3em 0em
      width: 14em
      float: none
      display: inline-block

    h4
      font-weight: normal
      margin-bottom: 15px
    .date
      font-size: 1.5em
      font-weight: 400
      margin-bottom: 30px
      @media all and (max-width: 768px)
        font-size: 1em
    .invite-msg
      font-size: 1.5em
      line-height: 1.5em
      font-weight: 100
      margin-bottom: 30px
      //@media all and (max-width: 480px)
      //  font-size: 1.5em

    .btn
      color: #fff
      font-size: 1.25em
      text-decoration: none
      width: 12em
      margin: 1em auto 0
      padding: 15px
      font-style: italic
      display: block
      text-transform: uppercase
      text-align: center
      vertical-align: middle
      font-weight: 400
      @media all and (max-width: 480px)
        width: 9em

    .agenda
      font-size: 1em
      text-align: center
      text-decoration: none
      text-emphasis: #11aa58
      margin-top: 1em
      a
        color: #516169
        text-decoration: none
        background: rgba(255, 177, 82, 0.85)
        box-shadow: 0 2px 2px 0 #265e7f
        font-weight: bold

