.navigator
  box-sizing: border-box
  width: 100%
  position: fixed
  background: white
  z-index: 10000
  .logo
    float: left
    width: 30%
    @media all and (max-width: 768px)
      float: none
      margin: 0.5em  auto
      display: block
      text-align: center
    img
      max-width: 10em

  ul
    text-align: right
    list-style: none
    margin-top: 1.5em
    li
      display: inline-block
      font-size: 1.2em
      font-weight: 300
      padding: 0.3em
      a
        text-decoration: none
        color: $primary
        padding: .15em .5em
      a.current
        border-bottom: 2px $grey-1 solid
