section.register
  background: $grey-2

#speaker-reg
  margin: 2em 0 0 5em
  padding: 0 0 0 5em
  input,label
    margin: 10px
    padding: 5px
    font-size: 26px
    width: 60%
    height: 30px
    font-weight: 100
    border: none
    background: $grey-2
    font-family: "open sans", Arial
    color: $grey1
  input[type="text"]
    border-bottom: solid 1px $grey1
  input[type="text"]:hover
    border-bottom: solid 1px #000000