section.register
  background: $secondary

#mktoForm_3106
  width: 100% !important
  margin: 2em 0 0 5em
  padding: 2em 0 2em 2em
  background: rgba(252,251,193,0.5)
  color: #F6F6F6

  div.mktoAsterix
    margin-right: 50%

  label.mktoLabel
    width: 350px !important
    padding: 5px
    font-size: 20px
    font-weight: 100
    font-family: "open sans", Arial
    color: #F6F6F6
    float: left
    display: block

  input
    margin: -40px 0 10px 35%
    padding: 5px
    font-size: 20px
    width: 90% !important
    font-weight: 100
    background: none
    border: none
    font-family: "open sans", Arial
    color: $grey1


  textarea
    border: 1px solid $grey1 !important
    margin: -20px 0 10px 35%
    padding: 5px
    font-size: 20px
    width: 80% !important
    font-weight: 100
    background: none
  select
    padding: 5px
    margin: -40px 0 10px 35%
    font-size: 20px
    width: 250px !important
    font-weight: 100
    background: none
  input[type="text"]
    border-bottom: solid 1px $grey1
  input[type="email"]
    border-bottom: solid 1px $grey1
    //margin: -40px 0 10px 46%
    //width: 92% !important

  input:hover
    border-bottom: solid 1px #ffc520
  input:focus
    border-bottom: solid 1px #F6F6F6 !important