section.navigator
  .content
    h1.logo
      img(src="./dist/assets/images/logo.png")
    button.navigation-toggle
      hr
      hr
      hr
    ul(id="nav", class="navigation")
      li: a(href="#about",class="current") About
      li: a(href="#speakers") Speakers
      li: a(href="#agenda") Agenda
      li: a(href="#contact") Contact
      li: a(href="#editions") All Editions
