dom-module(id="app-header")
   template
      div(class="navigator")
         ul
            li HOME
            li ABOUT
            li AGENDA
            li CONTACT
         input(type="button", value="REGISTER")
   script(src="app-header.js")