section.invite
  .content
    .box
      h4 ThoughtWorks, Hyderabad
      
      .date
        | Saturday,
        | 22
        sup nd
        | August 2015
      
      h3.invite-msg Conference for Quality Analysts
      .agenda 
        | Event was successful! 
        a(href="#agenda") Scroll down for slides
