- var agenda = [{ "title": "Some seszcxzxckjashdkjhsion name" , "start": "9h45m" , "end": "10h00m" , "speaker": "Name Name" , "speaker": "Name Name" } , { "title": "Some session name askjdhjka" , "start": "10h00m" , "end": "10h30m" , "speaker": "Nasadasdme Name" } ]
