//- Tracks

- tracks = []

- track = {}
- track.title = "Track 1"
- track.sessions = []
- tracks[0] = track

//- Sessions

- session = {}
- session.topic = "kasdkajshkahs kajshdakjh"
- session.speaker = "kkjhkadsj kjh"
- session.duration = "30m"
- session.type = "talk"
- tracks[0].sessions[0] = session

- session = {}
- session.topic = "sdasd"
- session.speaker = "kkj23"
- session.duration = "60m"
- session.type = "talk"
- tracks[0].sessions[1] = session

- session = {}
- session.topic = "Break"
- session.duration = "15m"
- session.type = "break"
- tracks[0].sessions[2] = session
